{
    "proxmox_node": "<PROXMOX_NODE_NAME>",
    "proxmox_url": "https://<PROXMOX_NODE_FQDN>:8006/",
    "proxmox_fqdn": "<PROXMOX_NODE_FQDN>",
    "tls_insecure": true,
    "proxmox_admin_user": "<PROXMOX_ADMIN_USER>",
    "proxmox_admin_password": "<PROXMOX_ADMIN_PASSWORD>"
}   
