{
    "talos_cluster_name": "<CLUSTER_NAME>",
    "talos_version": "<TALOS_VERSION>",
    "talos_arch": "<TALOS_ARCH>",
    "talos_schematic_id": "<TALOS_FACTORY_SCHEMATIC_ID>",
    "kubelet_serving_cert_approver_provider_ip_prefixes": [
        "<NODE_SUBNET_CIDR>"
    ],
    "proxmox_node": "<PROXMOX_NODE>",
    "proxmox_url": "<PROXMOX_URL>",
    "tls_insecure": true
}