nfs:
  server: nfs-server
  path: /srv/nfs

storageClass:
  create: true
  name: nfs-client
  defaultClass: true
  reclaimPolicy: Delete
  archiveOnDelete: true

# Optional but recommended
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65534

securityContext:
  allowPrivilegeEscalation: false

resources: {}