nfs:
  server: nfs-server
  path: /srv/nfs

storageClass:
  create: false
  name: nfs-client
  provisionerName: cluster.local/nfs-subdir-external-provisioner
  defaultClass: false
  reclaimPolicy: Delete
  archiveOnDelete: true

# Optional but recommended
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65534

securityContext:
  allowPrivilegeEscalation: false

resources: {}